* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


contenitore fluido  */
/* .container-fluid {
  width: 100%;
  max-width: 100%;
} */

/* //contenitorefluido */

/* contenitore xs */
/* .container {
  width: 540px;
  max-width: 540px;
} */




