* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row.text-center .card img {
  height: 50%;
}

.container-fluid header {
  background-color: #2c3e50;
}

.container-fluid .jumbotron,
.container-fluid .jumbotron .card {
  background-color: #1abc9c;
}

main .sectionfirst img  {
  width: 100%;
  border-radius: 30px;
}

main .sectionsecond {
  background-color: #1abc9c;
}
