* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.row.text-center .card img {
  height: 50%;
}

.container-fluid header {
  background-color: #2c3e50;
}

/* //header */

/* jumbotron */
.container-fluid .jumbotron,
.container-fluid .jumbotron .card {
  background-color: #1abc9c;
}

/* //jumbotron */

/* main */
main .sectionfirst img  {
  width: 100%;
  border-radius: 30px;
}

main .sectionsecond {
  background-color: #1abc9c;
}


main .sectionthird .row a {
  background-color: #5cc7cb;
}
/* main */

/* footer */

footer {
  background-color: #3a546d;
}
footer .footer-bottom {
  background-color: #2c3e50;
}
/* //footer */