* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */


header {
  height: 80px;
}

 header{
  background-color: #2c3e50;
}


/* //header */

/* jumbotron */
.jumbotron  .container-fluid  {
  background-color: #1abc9c;
}

/* //jumbotron */

/* main */
main .sectionfirst img  {
  width: 100%;
  border-radius: 30px;
}

main .sectionsecond {
  background-color: #1abc9c;
}


main .sectionthird .row a {
  background-color: #5cc7cb;
}
/* main */

/* footer */

footer {
  background-color: #3a546d;
}
footer .footer-bottom {
  background-color: #2c3e50;
}
/* //footer */